.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.menu{
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.menuItem{
  box-sizing: border-box;
  margin: 20px 30px;
  padding: 40px 30px;
  background: rgb(232,180,15);
  background: linear-gradient(0deg, rgba(232,180,15,1) 0%, rgba(236,191,53,1) 24%, rgba(231,194,81,1) 46%, rgba(241,204,88,1) 78%); 
  color: white;
  font-family: montserrat;
}

ul {
  list-style: none;
  text-decoration: none;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
}


.formStyle{
  max-width:400px;
  margin:50px auto;
  background:#fff;
  border-radius:2px;
  padding:20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.formStyle h1{
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
  color: #5C5C5C;
  font-size:x-large;
}
.formStyle ul{
  list-style:none;
  padding:0;
  margin:0; 
}
.formStyle li{
  display: block;
  padding: 9px;
  border:1px solid #DDDDDD;
  margin-bottom: 30px;
  border-radius: 3px;
}
.formStyle li:last-child{
  border:none;
  margin-bottom: 0px;
  text-align: center;
}
.formStyle li > label{
  display: block;
  float: left;
  margin-top: -19px;
  background: #FFFFFF;
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: #B9B9B9;
  font-size: 14px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.formStyle input[type="text"],
.formStyle input[type="date"],
.formStyle input[type="datetime"],
.formStyle input[type="email"],
.formStyle input[type="number"],
.formStyle input[type="search"],
.formStyle input[type="time"],
.formStyle input[type="url"],
.formStyle input[type="password"],
.formStyle textarea,
.formStyle select 
{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.formStyle input[type="text"]:focus,
.formStyle input[type="date"]:focus,
.formStyle input[type="datetime"]:focus,
.formStyle input[type="email"]:focus,
.formStyle input[type="number"]:focus,
.formStyle input[type="search"]:focus,
.formStyle input[type="time"]:focus,
.formStyle input[type="url"]:focus,
.formStyle input[type="password"]:focus,
.formStyle textarea:focus,
.formStyle select:focus 
{
}
.formStyle li > span{
  background: #F3F3F3;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #C0C0C0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.formStyle textarea{
  resize:none;
}
.formStyle input[type="submit"],
.formStyle input[type="button"]{
  background: #2471FF;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #5994FF;
  border-radius: 3px;
  color: #D2E2FF;
}
.formStyle input[type="submit"]:hover,
.formStyle input[type="button"]:hover{
  background: #6B9FFF;
  color:#fff;
}
