.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.menu{
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.menuItem{
  box-sizing: border-box;
  margin: 20px 30px;
  padding: 40px 30px;
  background: rgb(232,180,15);
  background: linear-gradient(0deg, rgba(232,180,15,1) 0%, rgba(236,191,53,1) 24%, rgba(231,194,81,1) 46%, rgba(241,204,88,1) 78%); 
  color: white;
  font-family: montserrat;
}

ul {
  list-style: none;
  text-decoration: none;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
}